---
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Himture</title>
	</head>
	<body class="bg-[url('/BGRain.gif')]">
		<div class="h-screen flex flex-col justify-center items-center">
			<div class="flex justify-center items-center">
				<div class="mx-5 h-32 w-32 rounded-full border-4 border-gradient-t from-blue-400 via-purple-400 to-pink-500 border-transparent overflow-hidden">
					<img src="/ProfilePicture.jpg" alt="Profile Image" class="w-full h-full object-cover">
				</div>
				<div class="mr-5">
					<div class="mb-0 p-0 text-6xl bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500 text-transparent animate-pulse" style="-webkit-background-clip: text">Hi I am</div>
					<div class="mt-0 p-0 text-7xl bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500 text-transparent animate-pulse" style="-webkit-background-clip: text">himture</div>
				</div>
			</div>
			<div class="flex justify-center mt-5">
				<a class="button" href="https://himture.com">Contact Me!</a>
			</div>
		</div>
	</body>
</html>
